:root {
  --bgColor: #242424;
  --fontColor: #e0e0e0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--fontColor);
  background-color: var(--bgColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow: hidden;
  background-image: url("../img/cream-paper.png");
}

body {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 10px;
}

/**Utils*/
.w-full {
  width: 100%;
}

.rounded-full {
  border-radius: 100%;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.px-2 {
  padding: 0 10px;
}
/**Utils*/

.bg-subtitule {
  background: #212121;
  border: 1px solid #263238;
}

.content {
  padding: 8px;
  height: 100%;
}

.hover-state {
  transition: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.hover-state:hover {
  background: #212121;
}

.collapse-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
