.layout-content {
  background: var(--bgColor) !important;
  color: var(--fontColor);
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
  border-bottom: 1px solid #424242;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #424242;
}

.slider {
  border-right: 1px solid #424242;
}
